# project files
config.json
tokens.json
.version
publishing-keyring.gpg

# Gonfig
*Config.json

# music files
*.mp3
*.aac
*.m4a
*.wav
*.flac
*.ogg

# gradle
/build/
/.gradle/
/gradle/
/out/
gradle.properties
/libs/

/bin/

# intellij files
/.idea/
*.iml
*.ipr
*.iws

# vscode
/.vscode/

/App/

*.zip
