# project files
config.json
tokens.json
.version
publishing-keyring.gpg

# Config
*Config.json

# music files
*.mp3
*.aac
*.m4a
*.wav
*.flac
*.ogg

# gradle
/build/
/out/
/libs/
.gradle

/AppVersionLibs

/bin/
/src/test/
# intellij files
/.idea/
*.iml
*.ipr
*.iws

# vscode
/.vscode/

/App/

*.zip
UploadApp.cmd

/resource/buildscript.bat
/resource/buildscript.sh